
<h1>Hi, you can keep your photos here!</h1>

<div class="actions">
  <a class="upload_link" href="<%= new_photo_path %>">Add photo from your PC</a>
</div>

<div class="photos">
  <% if @photos.empty? %>
    <p>No photos were added yet.</p>
  <% end %>
  <% thumbs_params = { :format => "jpg", :height => 150, :width => 150, :class => "thumbnail inline" } %>
 	<table>
  <% @photos.each do |photo| %>
	<td>
      <h2><%= photo.title %></h2>
      <a href="<%= photo.image.url %>" target="_blank">
        <%= image_tag(photo.image.thumbnail.url, :class => "thumbnail inline") %>
      </a>
  	</td>
  <% end %>
	</table>
	
</div>

<div class="cycle-slideshow"
    data-cycle-timeout="0"
    data-cycle-prev="#prev"
    data-cycle-next="#next">
  <% @photos.each do |photo| %>
      <%= image_tag(photo.image.url, width: '400', height: '300') %>  
  <% end %>
</div>
<div class="center">
    <a href=# id="prev">Prev</a> 
    <a href=# id="next">Next</a>
</div>

